body {
  background-color: rgb(184, 145, 145);
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  text-align: center;
}
image {
  margin: 0 auto;
}
div {
  text-align: center;
}
a {
  margin: 36px;
}
